@charset "utf-8";
/* CSS Document */

.section-title b {
    display: block;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}

.section-title {
    position: relative;
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.section-title h1
{	margin:0 15px;
	}

.padding-100px{
	padding:0 100px;
	
	}
.margin-150{
	margin-top:10%;
}
.margin-50{
	margin-top:5%;
}
.padding-0{
	padding:0px;
}
.bc{
	background-color:#FFFFFF;
	margin-top:-5%;
	padding:15px;
	z-index:999;
	}
.row a{
	color:#8F8E8E;
	font-weight:bold;
	}
.mg-top0{
	margin-top:25%;
}
.mg-top1{
	margin-top:-50%;
}
.mg-top2{
	margin-top:30%
}
.mg-top3{
	margin-top:15%
}

.new-víible{
	display:block;

}
.new-visible{
	display:block;
}

.test {
    display:none;
    padding: 10px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    margin-bottom: 5px;
    background-color: #f1f1f1;
}
.margin-5{
	margin-top:0;	
}
@media (max-width: 375px) { 

.new-víible{
	display:none;}
}
@media (max-width: 768px) {
	.new-visible{
		display:none;
	}
	
	.margin-5{
	margin-top:-5%;
	}
	
}


/* LOAD MORE */
.load-more {
    
    font-weight: bold;
    font-size: 18px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
.load-more::after {
    display: block;
    content: ' ';
    width: 1px;
    height: 40px;
    margin: 12px auto 0;
    background-color: #000;
}

.news {
	margin-top: 80px;
}

.news .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.news .content {
    position: relative;
    width: 100%;
    overflow: hidden;
	padding: 0px;
}

.news .content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.news .content:hover .content-overlay{
  opacity: 1;
}

.news .content-image{
  width: 100%;
}

.news .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.news .content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.news .content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.news .content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.news .fadeIn-top{
  top: 20%;
}